<div class="likes-content"  id="sortable_list">
<% @favorites.each do |favorite| %>
    <div class='row' id='favorite-item'>
      <div class='col-md-6'>
        <%= link_to stretch_path(favorite.stretch),data: {"turbolinks" => false} do %>
          <% if favorite.stretch.stretch_images.present? %>
            <%= attachment_image_tag favorite.stretch.stretch_images.first, :image, :fill, 500, 500 , size: "300x300"%>
          <% end %>
        <% end %>
      </div>
      <div class='col-md-6' >
        <h2>ストレッチ名：<%= favorite.stretch.name %></h2>
        <h2>作用する筋肉：<%= favorite.stretch.action_muscles %></h2>
      </div>
    </div>
<% end %>
</div>

<%= hidden_field_tag :user_id, @user.id %>
<div class='child-center'>
  <%= paginate @favorites %>
</div>

<!-- ドラッグ＆ドロップ -->
<script src="drag.js"></script>