<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='row'>
        <%= form_for(@category, url:'/admins/categorys') do |f| %>
          <div class='col-xs-2'>
            <%= f.label :name ,'カテゴリ' %>
          </div>
          <div class='col-xs-3'>
            <%= f.text_area :name %>
          </div>
          <div class='col-xs-2'>
            <%= f.radio_button :is_valid, :有効 %>
            <%= f.label :有効 %>
          </div>
          <div class='col-xs-2'>
            <%= f.radio_button :is_valid, :無効 %>
            <%= f.label :無効 %>
          </div>
          <div class='col-xs-3'>
            <%= f.submit '追加', class:'btn btn-info' %>
          </div>
        <% end %>
      </div>

      <table class='table'>
        <thead>
          <th>カテゴリ</th>
          <th>状態</th>
          <th></th>
        </thead>
        <tbody>
          <% @categorys.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.is_valid %></td>
            <td><%= link_to '編集する',edit_admins_category_path(category.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>