<div class='row'>
  <%= form_for(stretch, url:"/admins/stretchs/#{stretch.id}") do |f| %>
    <div class='col-xs-6'>
      <%= f.label :image, class: 'image_label' do %>
        <div class='prev-content'>
          <%= attachment_image_tag stretch, :image, :fill, 400, 400, fallback: "no_image.png", size:'400x400' %>
        </div>
      <% end %>
      <%= f.attachment_field :image %>
    </div>
    <div class='col-xs-6'>
      <div class='row'>
        <div class='col-xs-4'>
          <%= f.label :name, 'ストレッチ名' %>
        </div>
        <div class='col-xs-6'>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-4'>
          <%= f.label :action_muscles, '作用する筋肉' %>
        </div>
        <div class='col-xs-6'>
          <%= f.text_field :action_muscles %>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-4'>
          <%= f.label :explanation, 'ストレッチ説明文' %>
        </div>
        <div class='col-xs-5'>
          <%= f.text_field :explanation %>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-4'>
          <%= f.label :category, 'カテゴリー名' %>
        </div>
        <div class='col-xs-5'>
        </div>
      </div>
    </div>
    <%= f.submit submit_text %>
  <% end %>
</div>