<div class='container'>
  <div class='row'>
    <h2>ストレッチ詳細</h2>
      <% if @stretch.stretch_images.present? %>
        <% @stretch.stretch_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 200, 200 %>
        <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '200x200' %>
      <% end %>
          <h3 class='admin-text'>ストレッチ名</h3>
          <h4><%= @stretch.name %></h4>
          <h3 class='admin-text'>作用する筋肉</h3>
          <h4><%= @stretch.action_muscles %></h4>
          <h3 class='admin-text'>ストレッチ説明</h3>
          <h4><%= @stretch.explanation %></h4>
          <h3 class='admin-text'>カテゴリー</h3>
          <h4><%= @stretch.category.name %></h4>
        <%= link_to "編集する", edit_admins_stretch_path(@stretch.id), class:"btn btn-info",data: {"turbolinks" => false} %>
  </div>
</div>