<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa fa-address-card"></i>登録情報編集</h2>
      <% if flash[:alert] %>
        <div class="row alert alert-warning">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= form_for @user, url: {action: "edit"} do |f| %>
        <div class="row row-form">
          <span class="col-md-2 col-xs-12">名前</span><br>
          <%= f.label '(姓)', class: "col-md-1 col-xs-4" %>
          <%= f.text_field :family_name, class: "col-md-2 col-xs-8 form-control" %>
          <%= f.label '(名)', class: "col-md-1 col-xs-4" %>
          <%= f.text_field :first_name, class: "col-md-2 col-xs-8 form-control" %>
        </div>
        <div class="row row-form">
          <span class="col-md-2 col-xs-12">フリガナ</span><br>
          <%= f.label '(セイ)', class: "col-md-1 col-xs-4" %>
          <%= f.text_field :family_name_yomi, class: "col-md-2 col-xs-8 form-control" %>
          <%= f.label '(メイ)', class: "col-md-1 col-xs-4" %>
          <%= f.text_field :first_name_yomi, class: "col-md-2 col-xs-8 form-control" %>
        </div>
        <div class="row row-form">
          <%= f.label '電話番号(ハイフンなし)', class: "col-md-3 col-xs-4" %>
          <%= f.text_field :phone_number, class: "col-md-9 col-xs-8 form-control" %>
        </div>
        <div class='action'>
          <%= f.submit "編集内容を保存する",class: 'btn btn-sm btn-primary' %>
          <%= link_to '退会する', edit_user_withdraw_path, class: "btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

