<div class='container'>
  <div class="row">
    <h2><i class="fa fa-address-card"></i>マイページ</h2>
    <h3><i class="fa fa-address-book"></i>登録情報</h3>
    <div class='action'>
      <%= link_to "編集する", edit_user_path, class: "btn btn-sm btn-success" %>
      <%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-sm btn-success" %>
    </div>

    <div class="table-wrapper">
      <table class="table table-bordered">
        <tbody>
          <tr class="row">
            <th class="col-xs-3">氏名</th>
            <td class="col-xs-9"><%= @user.family_name %><%= @user.first_name %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">カナ</th>
            <td class="col-xs-9"><%= @user.family_name_yomi %><%= @user.first_name_yomi %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">電話番号</th>
            <td class="col-xs-9"><%= @user.phone_number %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">メールアドレス</th>
            <td class="col-xs-9"><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- タブメニューactiveクラスに、クリック済のデザインを設定したcssを指定 -->
    <ul class="tab clearfix">
     <li class="active">口コミリスト</li>
     <li>お気に入りリスト</li>
    </ul>
    <!-- コンテンツ全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
    <div class="area">
      <ul class="show">
        <li><%= render 'reviews/review_index', reviews: @reviews %></li>
      </ul>
      <ul>
        <li><%= render 'favorites/favorite', favorites: @favorites %></li>
      </ul>
    </div>
    <div class='child-center'>
      <%= paginate @reviews %>
    </div>
  </div>
</div>