<h2><%= "#{@user.family_name} #{@user.first_name}" %>さんの会員情報編集</h2>
<div>
  <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
    <div class="row">
      <span class="col-xs-3">会員ID</span>
      <span class="col-xs-3"><%= @user.id %></span>
    </div>
    <div class="row">
      <span class="col-xs-3">氏名</span>
      <span class="col-xs-3">
        <%= f.text_field :family_name %>
        <%= f.text_field :first_name %>
      </span>
    </div>
    <div class="row">
      <span class="col-xs-3">フリガナ</span>
      <span class="col-xs-3">
        <%= f.text_field :family_name_yomi %>
        <%= f.text_field :first_name_yomi %>
      </span>
    </div>
    <div class="row">
      <span class="col-xs-3">電話番号</span>
      <span class="col-xs-3"><%= f.telephone_field :phone_number %></span>
    </div>
    <div class="row">
      <span class="col-xs-3">メールアドレス</span>
      <span class="col-xs-3"><%= f.email_field :email %></span>
    </div>

    <div cladd="row">
      <span class="col-xs-3">会員ステータス</span>
      <%# is_valid のtrue を :有効 、false を :無効 で管理してます（enumで） %>
      <span class="col-xs-3">
        <%= f.radio_button :is_valid, :有効, checked: "checked" %>
        <%= f.label :is_valid_有効, '有効' %>
        <%= f.radio_button :is_valid, :無効 %>
        <%= f.label :is_valid_無効, '退会済み' %>
      </span>
    </div>
    <div class="row">
        <%= f.submit '変更を保存する',class:"btn btn-primary" %>
    </div>
  <% end %>
</div>