<div class='container'>
  <div class='row'>
    <h2><%= "#{@user.family_name} #{@user.first_name}" %>さんの会員詳細</h2>
    <div class="table-wrapper">
      <table class="table table-bordered">
        <tbody>
          <tr class="row">
            <th class="col-xs-3">顧客ID</th>
            <td class="col-xs-9"><%= @user.id %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">氏名</th>
            <td class="col-xs-9"><%= "#{@user.family_name} #{@user.first_name}" %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">フリガナ</th>
            <td class="col-xs-9"><%= "#{@user.family_name_yomi} #{@user.first_name_yomi}" %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">電話番号</th>
            <td class="col-xs-9"><%= @user.phone_number %></td>
          </tr>
          <tr class="row">
            <th class="col-xs-3">メールアドレス</th>
            <td class="col-xs-9"><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to "編集する", edit_admins_user_path(@user),class:"btn btn-default",data: {"turbolinks" => false} %>
  </div>
</div>

