<div class='container'>
  <div class='row'>
      <h2>FAQ</h2>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">カラダが硬いということはどういうことなのでしょうか？</h3>
            <span>+</span>
            <div class="answer">
              <p>カラダが硬いということは関節の可動域（動く範囲）が小さいということです。
                 例えば前屈が苦手という方は、股関節の可動域が狭いということになります。
                 人間のカラダは骨格（関節）と筋肉が上手く連動してスムーズな動きが可能になります。
                 可動域が制限される原因は、その関節を動かす筋肉が固まってしまっていることにあります。
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">ストレッチは何を目的とするのでしょうか?</h3>
            <span>+</span>
            <div class="answer">
              <p>カラダストレッチでおこなうストレッチの目的は、根本的に人間が本来もつ柔軟性と軸を取り戻すということです。
              ただカラダを柔らかくするということだけではなく、筋肉と連動する関節・骨格が連動してスムーズな動きを取り戻し、なおかつ骨盤、脊柱といったカラダの軸を整えます。
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">ストレッチを行う効果的なタイミングはありますか？</h3>
            <span>+</span>
            <div class="answer">
              <p>ストレッチを行ううえで最も効果が期待できるタイミングは、筋肉が温まってリラックスしているときです。運動後やお風呂上がりなど、筋温が高くて血流が多いときが筋肉は伸びやすくなっています。例えるなら、お餅をイメージしてみて下さい。つきたてのアツアツのお餅はよく伸びますし、冷えてカチカチのお餅は割れてしまいます。ケガの予防のためにも体が温まった筋肉の血行が良い状態でストレッチを行いましょう。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">逆にストレッチを行わない方がよいタイミングはありますか？</h3>
            <span>+</span>
            <div class="answer">
              <p>筋肉が冷えている時は、ストレッチよりも先ずは温めるために軽く体を動かしてからの方がオススメです。避けたほうがいいのが食後です。食後は消化の為に胃腸など内臓に血が流れなくてはいけません。消化の働きを妨げないように食後30分はストレッチを行わないほうがよいでしょう。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">痛みがあってもストレッチしていいですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>打撲など確実にケガや炎症を起こしたときは患部を安静にするのが基本です。
                 しかし、肩こり、腰痛、膝痛などの痛みの場合は注意が必要です。
                 筋肉は使わなければ確実に衰えていきます。痛いからといって筋肉や関節をじっと動かさずにいると、運動機能や柔軟性は悪くなっていくので、小さなストレッチでもいいので筋肉や関節に刺激を与えるのがとても重要です。
                 ストレッチしていいかどうかの目安は、温めて痛みがひどくなるかどうかです。
                 ストレッチなど筋肉を動かして筋肉への血流が上がり痛みがひどくなる場合は、安静にしておきましょう。動かして温まって少しでも心地いい場合は、動かせる範囲でストレッチをしてもいいでしょう。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">ストレッチの効果の持続時間はどれぐらいですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>ストレッチによる血行促進、柔軟性や代謝の向上といった健康効果が持続されるのは数時間程度といわれています。しかし、どんな目的で、誰が、どこの筋肉を、どのように行ったかによって結果は様々です。運動の習慣が無い人でしたら一日一回、入浴後などのリラックスタイムに行うだけでもカラダの変化を感じられるかもしれません。スポーツをするのであれば、スポーツの前後に適したストレッチを行えばケガの予防には十分です。</p>
            </div>
          </li>
        </ul>
      </div>
  </div>
  <div class='row'>
    <%= form_for @contact do |f| %>
  <!-- 質問 -->
    <h2>質問</h2>
      <div class="form-group row">
        <div class="col-md-9">
          <%= f.label :name, '名前 ', class:'col-md-3 col-form-label' %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control"%>
          <%= f.label "メールアドレス" %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "form-control"%>

          <%= f.label :content, '質問内容 ', class:'col-md-3 col-form-label' %>
          <%= f.text_area :content, class: "form-control", rows: "8",
            placeholder:'ストレッチについて聞きたいことや他にもいろんな質問に答えていきますのでご自由に質問してください！' %>
        </div>
      </div>
      <div class='action'>
        <%= f.submit "送信する",class: "btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<!-- FAQのアコーディオン -->
<script>
  $('.faq-list-item').click(function() {
    var $answer = $(this).find('.answer');
    if($answer.hasClass('open')) {
      $answer.removeClass('open');
      $answer.slideUp();
      $(this).find('span').text('+');
    } else {
      $answer.addClass('open');
      $answer.slideDown();
      $(this).find('span').text('-');
    }
  });
</script>
