<% if reviews.present? %>
  <% reviews.each do |review| %>
    <div class="row posts">
      <div class="col-md-6 mb-3">
        <div class=" review-content">
          <h4 class="mb-3">評価：<%= review.rate %>点 | <%= review.title %></h4>

          <!--星評価-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>
        <!--/星評価-->

          <p><%= review.content %></p>
          <%= image_tag review.picture.url, class:'img-fluid' if review.picture? %>
        </div>
      </div>
      <div class="col-md-4">
        <%= link_to review.stretch do %>
          <div class="reviews-stretch">
            <%= image_tag review.stretch.image_url, :size =>'300x300' %>
            <p><%=  review.stretch.name %></p>
          </div>
        <%end %>
      </div>
      <div class="col-md-12 edit-button">
        <% if current_user == review.user %>
          <%= link_to '口コミを編集', edit_review_path(review), method: :get, class:'btn btn-default' %>
          <%= link_to '口コミを削除', review, method: :delete, class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>