<% if reviews.present? %>
  <% reviews.each do |review| %>
    <div class="row" id="reviews">
      <div class="col-md-8 offset-md-2">
        <div class=" review-content">
          <p><%=review.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <h4 class="col-mb-3">評価：<%= review.rate %>点 | <%= review.title %></h4>
          <!--　レビュー　-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
            // 繰り返し処理でもidをidを一意にできるようにstretch_idを入れる
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            // 読み込みだけで入力できない
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>

          <p><%= review.content %></p>
        </div>
        <div class="edit-button">
        <% if current_user == review.user %>
          <%= link_to '口コミを編集', edit_review_path(review), method: :get, class:'btn btn-primary' %>
          <%= link_to '口コミを削除', review, method: :delete, class:'btn btn-danger' %>
        <% end %>
      </div>
      </div>
      <div class="col-md-4">
        <%= link_to review.stretch,data: {"turbolinks" => false} do %>
          <div class="reviews-stretch">
            <% if review.stretch.stretch_images.present? %>
              <%= attachment_image_tag review.stretch.stretch_images.first, :image, :fill, 500, 500, size: "300x300" %>
            <% end %>
            <p><%=  review.stretch.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
