<div class='row'>
  <% stretchs.each do |stretch| %>
    <div class='col-md-3 col-xs-12'>
      <div class='thumbnail'>
        <% if stretch.stretch_images.present? %>
        <div class='stretch-image'>
            <%= link_to stretch_path(stretch),data: {"turbolinks" => false} do %>
              <%= attachment_image_tag stretch.stretch_images.first, :image, :fill, 500, 500 %>
          <% end %>
        </div>
        <% end %>
        <div class='caption'>
            <label><%= stretch.name %></label>
        </div>
        <span>（口コミ <%=stretch.reviews.count %> 件）</span>
        <div id="star-rate-<%= stretch.id %>"></div>
        <%= render 'reviews/read_rate', stretch: stretch %>
      </div>
    </div>
  <% end %>
</div>
