<div class='container'>
  <% if flash[:alert] %>
    <div class="row alert alert-warning">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-3 col-xs-12'>
      <%= render 'categorys/search', categorys: @categorys %>
    </div>
    <div class='col-md-9 col-xs-12'>
      <div id='stretch-show-content'>
        <div class="sliderArea">
          <div class="slider_thumb ">
            <% @stretch.stretch_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 500, 500 , size: "500x500"%>
            <% end %>
          </div>
          <div class="thumb">
            <% @stretch.stretch_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 500, 500, size: "500x500"%>
            <% end %>
          </div>
        </div>
      </div>
      <div class='stretch-text'>
        <h2>ストレッチ名：<%= @stretch.name %></h2>
        <h2>作用する筋肉：<%= @stretch.action_muscles %></h2>
        <h2>ストレッチ説明：<%= @stretch.explanation %></h2>
        <div id="likes_buttons_<%= @stretch.id %>">
          <%= render partial: 'favorites/like', favorite: @favorite %>
        </div>
      </div>
    </div>
    <h2>口コミ一覧</h2>
    <%= render 'reviews/review_index', reviews: @reviews, user: @user %>
    <h2>口コミ投稿する</h2>
    <%= render 'reviews/new_review', review: @review, stretch: @stretch %>
  </div>
</div>

<!-- 複数画像機能 -->
<script src="image.js"></script>

