<!DOCTYPE html>
<html>
  <head>
    <title>SMB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <!-- アラートメッセージ -->
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>

  </head>

  <body>
      <div class='body'>
        <%=render 'layouts/header' %>
        <% if flash[:notice] %>
          <div class='alert alert-success'>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <!-- スクロール -->
      <span id="back">
        <a href="#">
          <h4 class="glyphicon glyphicon-eject" aria-hidden="true"  id='script'></h4>
        </a>
      </span>
      <%= render 'layouts/footer' %>
  </body>
</html>
